<div class="header">
    <h2><i class="icon-action-redo"></i> Payments <strong>List</strong></h2>
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li class="active">Payments</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xlg-12 col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-header">
                        <h3><i class="fa fa-table"></i> <strong>Payments List</strong> tables</h3>
                    </div>
                    <div class="panel-content">
                        <div class="m-b-10">
                            <div class="btn-group">
                                <a href="#payments/create" id="table-edit_new" class="btn btn-embossed btn-primary"><i class="fa fa-plus"></i> Create New Payments</a>
                            </div>
                        </div>

                        <div class="col-lg-12 p-10 m-b-10 bg-primary">
                            <div class="col-lg-3 p-0">
                                <div class="form-group">
                                    <label class="col-sm-12 p-0">select date</label>
                                    <div class="col-sm-12 p-0 prepend-icon">
                                        <input type="text" id="start_date" name="datepicker" class="date-picker form-control form-white" ng-model="from_date" ng-change="changeFilter()">
                                        <i class="icon-calendar"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 p-r-0">
                                <div class="form-group">
                                    <label class="col-sm-12 p-0">to date</label>
                                    <div class="col-sm-12 p-0 prepend-icon">
                                        <input type="text" id="to_date" name="datepicker" class="date-picker form-control form-white" ng-model="to_date" ng-change="changeFilter()">
                                        <i class="icon-calendar"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 p-r-0 pull-right">
                                <div class="form-group">
                                    <label class="col-sm-12 p-0">search</label>
                                    <div class="col-sm-12 p-0 append-icon">
                                        <input type="text" id="finder" class="form-control form-white" placeholder="search for payment no., order no., amount, txn..." autofocus="" ng-model="search" ng-change="changeFilter()">
                                        <i class="icon-magnifier"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 p-0 m-t-10">
                                <div class="form-group">
                                    <label class="col-sm-12 p-0">last 7 day</label>
                                    <div class="col-sm-12 p-0 prepend-icon">
                                        <button ng-click="changeLast7day(last_7day);" type="button" class="btn btn-sm btn-dark m-r-0" ng-model="last_7days" ng-repeat="last_7day in last_7days">{{last_7day}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="filter-left">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="id"><a ng-click="sort_by('id')"><i class="fa fa-sort"></i></a>Payments No.</th>
                                    <th class="orders_id"><a ng-click="sort_by('orders_id')"><i class="fa fa-sort"></i></a>Orders No.</th>
                                    <th>Amount</th>
                                    <th>Payment Details</th>
                                    <th>Approve</th>
                                    <th>Valid</th>
                                    <th>CSV</th>
                                    <th>View</th>
                                    <!-- <th>Delete</th> -->
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="payments_data in payments">
                                    <td>{{payments_data.no}}</td>
                                    <td>
                                        <a ng-href="#payments/{{payments_data.id}}/view" class="label label-primary"><i class="icon-action-redo"></i> {{payments_data.id}}</a><br>
                                        <div class="" ng-if="payments_data.create_by"><label class="label label-default"><i class="icon-user"></i> <strong>{{payments_data.create_by}}</strong></label></div>
                                        <label class="label label-default"><i class="icon-calendar"></i> {{payments_data.create_datetime}}</label>
                                    </td>
                                    <td>
                                        <a ng-href="#orders/{{payments_data.orders_id}}/view" class="label label-primary"><i class="icon-basket"></i> {{payments_data.orders_id}}</a><br>
                                        <label class="label label-default"><i class="fa fa-money"></i> {{payments_data.orders.courses_price | number}} {{payments_data.orders.currency}}</label>
                                        <br>
                                        <label class="label label-default"><i class="icon-camcorder"></i> {{payments_data.orders.courses_title}}</label><br>
                                        <div class="" ng-if="payments_data.orders.create_by"><label class="label label-default"><i class="icon-user"></i> <strong>{{payments_data.orders.create_by}}</strong></label></div>
                                        <label class="label label-default"><i class="icon-calendar"></i> {{payments_data.orders.create_datetime}}</label>
                                    </td>
                                    <td><label class="label label-default">{{payments_data.amount | number}} {{payments_data.currency}}</label></td>
                                    <td>
                                        <label class="label label-success" ng-if="payments_data.payment_status == 'successful'">Status : ชำระเงินเรียบร้อย</label>
                                        <label class="label label-default" ng-if="payments_data.payment_status == 'pending'">Status : รอชำระเงิน</label>
                                        <label class="label label-danger" ng-if="payments_data.payment_status == 'rejected'">Status : ถูกปฏิเสธ</label>
                                        <label class="label label-danger" ng-if="payments_data.payment_status == 'canceled_by_user'">Status : ยกเลิกโดยผู้ใช้</label>
                                        <label class="label label-danger" ng-if="payments_data.payment_status == 'failed'">Status : เกิดข้อผิดพลาด</label>
                                        <!-- <label class="label label-success" ng-if="payments_data.payment_status == 'successful'">Status : {{payments_data.payment_status}}</label> -->
                                        <!-- <label class="label label-default" ng-if="payments_data.payment_status != 'successful'">Status : {{payments_data.payment_status}}</label> -->
                                        <!-- <div class="" ng-if="payments_data.payment_status != 'successful' && payments_data.payment_code"><label class="label label-default">Code : {{payments_data.payment_code}}</label></div> -->
                                        <label class="label label-default" ng-if="(payments_data.payment_status == 'rejected' || payments_data.payment_status == 'canceled_by_user' || payments_data.payment_status == 'failed') && payments_data.payment_message">Msg : {{payments_data.payment_message}}</label>

                                        <div class="" ng-if="payments_data.txn"><label class="label label-default">TXN. : {{payments_data.txn}}</label></div>
                                        <label class="label label-default" ng-if="payments_data.methods && payments_data.methods_type">Method : {{payments_data.methods}} ({{payments_data.methods_type}})</label>
                                    </td>
                                    <td>
                                        <!-- <div class="onoffswitch2">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="approveStatusOnOffSwitch{{payments_data.id}}" ng-click="updateApproveStatus(payments_data)" ng-checked="payments_data.approve_status==1">
                                            <label class="onoffswitch-label" for="approveStatusOnOffSwitch{{payments_data.id}}">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                        <br>
                                        <div class="clearfix"></div> -->
                                        <div class="" ng-if="payments_data.payment_status == 'successful' && payments_data.approve_by"><label class="label label-default"><i class="icon-user"></i> <strong>{{payments_data.approve_by}}</strong></label></div>
                                        <label class="label label-default" ng-if="payments_data.payment_status == 'successful'"><i class="icon-calendar"></i> {{payments_data.approve_datetime}}</label>
                                    </td>
                                    <td>
                                        <div class="inline-block" ng-switch on="payments_data.validate_status">
                                            <span ng-switch-when="1"><i class="fa fa-check f-18 text-success"></i></span>
                                            <span ng-switch-when="2"><i class="fa fa-times f-18 text-danger"></i></span>
                                            <span ng-switch-default>-</span>
                                        </div>
                                    </td>
                                    <td>
                                        <button ng-if="payments_data.validate_status == 1 && payments_data.validate_file_csv" type="button" class="btn btn-success btn-sm m-0" ng-click="downloadReconcileFile(payments_data)"><i class="fa fa-download p-0"></i></button>
                                        <span ng-if="payments_data.validate_status != 1 || !payments_data.validate_file_csv">-</span>
                                    </td>
                                    <td><a class="btn btn-sm btn-primary icon icon-eye" ng-href="#payments/{{payments_data.id}}/view"></a></td>
                                    <!-- <td><a class="delete btn btn-sm btn-danger icon icon-trash" ng-click="deletePayments(payments_data)"></a></td> -->
                                </tr>
                                </tbody>
                                <tfoot class="tbl-footer">
                                <td colspan="10">
                                    <div class="pull-left" style="padding-top:1.5em;">Total: <b>{{total}}</b> record(s)</div>
                                    <div class="pull-right">
                                        <pagination total-items="total" ng-model="current_page" items-per-page="per_page" num-pages="last_page" class="pagination pagination-alt" boundary-links="true" max-size="max_size" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                                    </div>
                                </td>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
