/* Default Theme */
.bg-set {
	background-color: #ffa400 !important;
    color: #fff !important;
}
.c-set {
	color: #ffa400;
}
.c-black {
	color: #000;
}

/* General */
.text-blue {
	color: #4584D1;
}
.lh-16 {
	line-height: 16px;
}
.text-f-right {
	text-align: right !important;
}
.text-underline {
	text-decoration: underline;
}
.middle {
	vertical-align: middle;
}
.inline {
	display: inline;
}
.inline-block {
	display: inline-block;
}
.block {
	display: block;
}
.d-table {
	display: table;
}
.d-table-cell {
	display: table-cell;
}
.d-table-cell-middle {
	display: table-cell;
	vertical-align:middle;
}
.h-100-per {
	height: 100%
}
.mh-500 {
	max-height: 500px;
	overflow-y: scroll;
}
.cs-pointer {
	cursor: pointer;
}
.btn-close-thumbnail {
	position: absolute;
    right: 0;
    top: 0;
    margin-right: 8px;
    margin-top: -8px;
    width: 20px;
    height: 20px;
    padding: 0 !important;
}
.force-p-0 {
	padding: 0 !important;
}
.shadow-in {
   -moz-box-shadow:    inset 0 0 5px #000000;
   -webkit-box-shadow: inset 0 0 5px #000000;
   box-shadow:         inset 0 0 5px #000000;
}
.btn-link.without-underline {
	text-decoration: none;
}
.btn-link.c-primary:hover, .btn-link.c-primary:focus {
	color: #2c8ca1;
}
.btn-link.c-danger:hover, .btn-link.c-danger:focus {
	color: #2c8ca1;
}
a[role="button"] {
	cursor: pointer;
}
.animate-all {
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.list-decimal {
	list-style: decimal;
}
.label-light {
	background-color: #E9E9E9;
    color: black;
}
.p-t-15 {
	padding-top: 15px;
}
.wb-all {
	word-break: break-all;
}
.m-t-7 {
	margin-top: 7px;
}

/* Hint */
.hint-list li {
	line-height: 130%;
	font-size: 12px;
	margin-bottom: 5px;
	margin-left: 10px;
}

/* Layer */
.z-0 {
	z-index: initial !important;
}

/* Header */
.topbar .header-right .header-menu .username {
	max-width: none;
	margin-top: 7px;
}
.topbar .header-right .header-menu .icon.default-icon {
	font-size: 30px !important;
    margin-top: 2px;
}
.topbar .header-right .header-menu > li > a > span:not(.badge) {
	line-height: 17px;
}
small.in-groups {
	font-style: italic;
}

/* Menu Sidebar */
.sidebar .sidebar-inner .nav-sidebar > li:not(.active) > a:hover {
	background-color: #319db5 !important;
    color: #ffffff;
    opacity: 1 !important;
}
.sidebar-inner .nav-sidebar > li:not(.active) > a:hover span:not(.badge), .sidebar .sidebar-inner .nav-sidebar > li:not(.active) > a:hover i {
	opacity: 1;
}
.menu-not-available-overlay {
	position: absolute;
    right: 10px;
    top: 6px;
}

/* Dual Box List */
.bootstrap-duallistbox-container .btn-group > .btn:last-child :not(:first-child) {
	border-left: none !important;
}
.bootstrap-duallistbox-container select[multiple=multiple] {
	cursor: pointer;
}
.bootstrap-duallistbox-container select[multiple=multiple] > option:hover {
	background-color: #d0dae1;
}
.bootstrap-duallistbox-container .form-control {
	background-color: #fff;
}
.bootstrap-duallistbox-container select {
	height: 192px !important;
}

/* Timepicker */
#ui-datepicker-div {
	z-index: 100 !important;
}
.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input {
	width: 95%;
}
.ui-timepicker-div dl dd {
	margin: 0 10px 20px 30%;
}
.ui-timepicker-oneLine .ui_tpicker_time {
	margin-bottom: 5px;
}
.ui-timepicker-oneLine .ui_tpicker_hour_label, .ui-timepicker-oneLine .ui_tpicker_minute_label, .ui-timepicker-oneLine .ui_tpicker_second_label {
	display: none;
}
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_minute > div, .ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_second > div {
	display: inline-block;
	margin: 0;
}
.ui-timepicker-oneLine .ui_tpicker_hour {
	display: inline-block;
	margin-right: 0;
	margin-bottom: 10px;
}
.ui-timepicker-oneLine .ui_tpicker_minute, .ui-timepicker-oneLine .ui_tpicker_second {
	display: inline-block;
	margin: 0;
	background: none;
	background-color: transparent !important;
	border: none;
	box-shadow: none !important;
}
.ui-timepicker-oneLine .ui_tpicker_minute:before, .ui-timepicker-oneLine .ui_tpicker_second:before {
	content: " : ";
	display: inline-block;
	margin: 0 1px;
}
.ui-timepicker-div.ui-timepicker-oneLine dl dd > div > select {
	background-color: #fff;
}

/* Sub Row */
tr.sub-parent {
	background-color: #f9f9f9;
}
tr.sub-parent .table {
	/*border: 1px solid #ccc;*/
}
tr.sub-parent .table-hover td {
	/*border-bottom: 2px solid #ccc;*/
}


/* Form */
.fileinput, .fileinput * {
	cursor: pointer !important;
}
.preview-color {
	/*background-color: transparent;*/
	background: url('/backend/assets/global/images/transparent.jpg') center no-repeat;
    background-size: cover;
}
.icheck-inline input[type=radio] {
	margin-right: 5px;
}
.icheck-inline > label {
	cursor: pointer;
}
.icheck-inline > label.disabled {
	cursor: not-allowed;
	color: #8F8F8F;
}
.bg-dark .control-label {
	color: #ffffff;
}
.form-horizontal .control-label {
	top: 0;
}
.form-horizontal .has-error .checkbox, .form-horizontal .has-error .checkbox-inline, .form-horizontal .has-error .control-label, .form-horizontal .has-error .help-block, .form-horizontal .has-error .radio, .form-horizontal .has-error .radio-inline, .form-horizontal .has-error.checkbox label, .form-horizontal .has-error.checkbox-inline label, .form-horizontal .has-error.radio label, .form-horizontal .has-error.radio-inline label, .has-error .input-group {
	color: #a94442;
}
.has-error .select2-container.form-control .select2-choice, .has-error .form-control.form-white, .has-error .cke_chrome {
	border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}
.help-block {
	margin-bottom: 0px;
}
.help-block:last-child {
	margin-bottom: 10px;
}
.nav-tabs > li.has-error > a {
	color: #c75757;
}
.tab-form > .nav-tabs > li {
	margin-top: 7px;
}
.sp-preview-inner {
    border: 1px solid #efefef !important;
}
input[type=checkbox][disabled] + .onoffswitch-label {
	cursor: not-allowed;
}



/* Table */
.table-success.table>thead>tr>th {
	background-color: #18a689 !important;
	border-bottom: 2px solid #F5F5F5;
	color: #fff;
}
.table-success.table>tbody>tr>td {
	background-color: #dff0d8 !important;
	border-top: 1px solid #F5F5F5;
}
.table-danger.table>thead>tr>th {
	background-color: #C9625F !important;
	border-bottom: 2px solid #F5F5F5;
	color: #fff;
}
.table-danger.table>tbody>tr>td {
	background-color: #f2dede !important;
	border-top: 1px solid #F5F5F5;
}
.table-blue.table>thead>tr>th {
	background-color: #4584D1 !important;
	border-bottom: 2px solid #F5F5F5;
	color: #fff;
}
.table-blue.table>tbody>tr>td {
	background-color: #ddecff !important;
	border-top: 1px solid #F5F5F5;
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 5px;
}

/* Table Responsive */
.force-table-responsive-2 {
	-ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #E9E9E9;
    border: none;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: auto;
    padding: 10px 5px;
    width: 100%;
    max-height: 986px;
}
.table-lead {
	font-size: 13px;
}

/* Flag Icon */
.flag-hovering {
	opacity: 0.6;
}
.flag-hovering:hover, li.active .flag-hovering, a:hover .flag-hovering {
	opacity: 1;
}

/* Login Form & Change Password */
.account .change-password-wall {
	margin-top: 210px;
}
.account-copyright {
	bottom: 10px;
}

/* Modal */
.modal-dialog-mh {
	margin-top: 5%;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

/* Paragraph */
.caption-overflow {
	white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

/* Preview */
.preview-pdf img {
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
iframe.preview-pdf {
	/*border: 1px solid #ccc !important;*/
	/*min-height: 700px;*/
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.box-preview-browse-server img {
	max-height: 110px;
}

/* Thumbnail Images */
.thumbnail-images .btn-close-thumbnail {
	display: none;
}
.thumbnail-images:hover .btn-close-thumbnail {
	display: block;
}
button.btn-close-thumbnail.force-p-0 {
	padding: 0 !important;
}

/* Popover */
.popover-content {
	font-size: 13px;
}
.popover-wide {
    max-width: 750px;
}
.popover-wide .popover-content {
    font-size: 13px;
    width: auto;
    max-width: inherit;
}
.popover-wide .popover-content ul {
	font-size: 13px;
	padding-left: 15px;
}
.popover-wide .popover-content ul li {
	line-height: 18px;
}

/* Dropdown Menu */
.dropdown-menu > li > a {
	cursor: pointer;
}

/* Tags Input */
.bootstrap-tagsinput {
	line-height: 24px;
}
.bootstrap-tagsinput input {
	font-size: 13px;
}
.bootstrap-tagsinput input::-webkit-input-placeholder {
  color: #B5B5B5;
}
.bootstrap-tagsinput input:-moz-placeholder {
  color: #B5B5B5;
}
.bootstrap-tagsinput input::-moz-placeholder {
  color: #B5B5B5;
}
.bootstrap-tagsinput input:-ms-input-placeholder {
  color: #B5B5B5;
}

/* TypeaheadJS */
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
    display: none;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.icon-prepare-generate-smil {
    position: relative;
    margin: 0 5px;
    top: 2px;
}

/* Button With BG */
.btn.bg-aero[disabled] {
    background-color: #a2bcc1 !important;
    color: #636262 !important;
}

/* Animation */
@-webkit-keyframes fade-animate-loop {
  0%   { opacity: 0.7; }
  100% { opacity: 1; }
}
@-moz-keyframes fade-animate-loop {
  0%   { opacity: 0.7; }
  100% { opacity: 1; }
}
@-o-keyframes fade-animate-loop {
  0%   { opacity: 0.7; }
  100% { opacity: 1; }
}
@keyframes fade-animate-loop {
  0%   { opacity: 0.7; }
  100% { opacity: 1; }
}

.fade-animate-loop {
  -webkit-animation: fade-animate-loop 5s infinite; /* Safari 4+ */
  -moz-animation:    fade-animate-loop 5s infinite; /* Fx 5+ */
  -o-animation:      fade-animate-loop 5s infinite; /* Opera 12+ */
  animation:         fade-animate-loop 5s infinite; /* IE 10+, Fx 29+ */
}

.p-l-4 {
	padding-left: 4px;
}
i.fa.p-l-4 {
	padding-left: 4px;
}
.w-20 {
	width: 20px;
}
.w-60 {
	width: 60px;
}
.m-w-20 {
	max-width: 20%;
}
.m-w-50 {
	max-width: 50%;
}
.rs-none {
	resize: none;
}
.panel-border-grey {
    border: 1px solid #929292 !important;
}
.panel-border-2-grey {
    border: 2px solid #929292 !important;
}
.panel-border-lightgrey {
    border: 1px solid #b5b5b5 !important;
}
.panel-border-2-lightgrey {
    border: 2px solid #b5b5b5 !important;
}
.onoffswitch2.onoffswitch-red .onoffswitch-inner::before {
    background-color: #c75757;
}
.onoffswitch2.onoffswitch-green .onoffswitch-inner::before {
    background-color: #18a689;
}
.opa-02 {
	opacity: 0.2 !important;
}
.opa-04 {
	opacity: 0.4 !important;
}
.panel-rejected {
	border: 1px solid #ddd !important;
}
.panel-rejected .panel-content {
	opacity: 0.4 !important;
}
.hl-default {
	background: rgba(0, 0, 0, 0.027);
}
.hl-default > td:first-child {
	border-left: 3px solid;
}
.panel-hl-warning {
	box-shadow: 0px 0px 7px rgba(255, 164, 0, 0.7) !important;
}
.btn-input-sm {
    padding: 7px 10px 8px;
    height: 30px !important;
    font-size: 12px;
}
.panel-subtitles {
	min-height: 295.31px !important;
	max-height: 560px;
	overflow-y: auto;
	border: 1px solid #333 !important;
}


.slide-ios-sm .ios-slider .slider-handle {
	width: 20px;
	height: 20px;
}
.slide-ios-sm .ios-slider.slider.slider-horizontal .slider-handle {
	margin-top: -9px;
}
.slide-ios-sm .ios-slider.slider.slider-horizontal .tooltip {
    margin-left: 0.5px;
    margin-top: -6px;
}
.slide-ios-sm .tooltip {
	font-size: 10px;
}
.slide-ios-fade-tooltip .tooltip.top .tooltip-arrow {
	border-top-color: rgba(0,0,0,0.8);
}
.slide-ios-fade-tooltip .tooltip-inner {
    background-color: rgba(0,0,0,0.8);
}

/* Loading */
.loading-backdrop {
	display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2040;
    /*background-color: #000;*/
    /*filter: alpha(opacity=50);*/
    /*opacity: 0.5;*/
    background-color: rgba(0, 0, 0, 0.5);
}
.loading-backdrop.in {
	display: block;
}
.loading-placeholder {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: table;
}


