<div class="header">
    <h2><i class="icon-note"></i> Questionnaire Packs <strong>List</strong></h2>
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li class="active">Questionnaire Packs</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xlg-12 col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-header">
                        <h3><i class="fa fa-table"></i> <strong>Questionnaire Packs List</strong> tables</h3>
                    </div>
                    <div class="panel-content">
                        <div class="m-b-10">
                            <div class="btn-group">
                                <a ng-href="#questionnaire_packs/create{{selected_groups.id !== undefined ? '?groups_id='+selected_groups.id : ''}}" id="table-edit_new" class="btn btn-embossed btn-primary"><i class="fa fa-plus"></i> สร้างชุดแบบสอบถาม</a>
                            </div>
                        </div>

                        <div class="col-lg-12 p-0">
                            <div class="col-lg-4 p-0">
                                <div class="form-group">
                                    <select class="form-control form-white select2" data-style="white" data-search="true" ng-model="selected_groups" ng-options="group.id as group.title for group in groups track by group.id" ng-change="changeFilter()">
                                        <option value="">-- เลือกกลุ่ม (Group) --</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="filter-left">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="title">
                                        <a ng-click="sort_by('title')"><i class="fa fa-sort"></i></a>ชื่อชุดแบบสอบถาม
                                    </th>
                                    <th>กลุ่ม</th>
                                    <th>คำถาม & คำตอบ</th>
                                    <th class="order">
                                        <a ng-click="sort_by('order')"><i class="fa fa-sort"></i></a>จัดเรียง
                                    </th>
                                    <th class="status">
                                        <a ng-click="sort_by('status')"><i class="fa fa-sort"></i></a>สถานะ
                                    </th>
                                    <th>แก้ไข</th>
                                    <th>ลบ</th>
                                </tr>
                                </thead>
                                <tbody ui-sortable="sortableOptions" ng-model="questionnaire_packs">
                                <tr ng-repeat="questionnaire_packs_data in questionnaire_packs" data-id="{{questionnaire_packs_data.id}}">
                                    <td>{{questionnaire_packs_data.no}}</td>
                                    <td>
                                        <a ng-href="#questionnaire_packs/{{questionnaire_packs_data.id}}/edit">{{questionnaire_packs_data.title}}</a><br>
                                        <label class="label label-default" ng-if="questionnaire_packs_data.modify_by!=''" ><i class="icon-user"></i><strong>{{questionnaire_packs_data.modify_by}}</strong> ({{questionnaire_packs_data.modify_datetime}})</label>
                                    </td>
                                    <td><label class="label label-primary">{{questionnaire_packs_data.groups.title}}</label></td>
                                    <td class="text-center"><a class="btn btn-sm btn-primary icon icon-note" ng-href="#questionnaire_packs/{{questionnaire_packs_data.id}}/questionnaires"> <span>{{questionnaire_packs_data.questionnaires_count}} ข้อ</span></a></td>
                                    <td>
                                        <input style="width: 70px; text-align: center;" class="form-control form-white" type="text" ng-model="questionnaire_packs_data.order" ng-blur="sortOrder(questionnaire_packs_data)" ng-focus="disableSortable()">
                                    </td>
                                    <td>
                                        <div class="onoffswitch2">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="statusOnOffSwitch{{questionnaire_packs_data.id}}" ng-click="updateStatus(questionnaire_packs_data, true)" ng-checked="questionnaire_packs_data.status==1">
                                            <label class="onoffswitch-label" for="statusOnOffSwitch{{questionnaire_packs_data.id}}">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td><a class="btn btn-sm btn-primary icon icon-note" ng-href="#questionnaire_packs/{{questionnaire_packs_data.id}}/edit"></a></td>
                                    <td><a class="delete btn btn-sm btn-danger icon icon-trash" ng-click="deleteQuestionnairePacks(questionnaire_packs_data)"></a></td>
                                </tr>
                                </tbody>
                                <tfoot class="tbl-footer">
                                <td colspan="9">
                                    <div class="pull-left" style="padding-top:1.5em;">Total: <b>{{total}}</b> record(s)</div>
                                    <div class="pull-right">
                                        <pagination total-items="total" ng-model="current_page" items-per-page="per_page" num-pages="last_page" class="pagination pagination-alt" boundary-links="true" max-size="max_size" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                                    </div>
                                </td>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
