<div class="header">
    <h2><i class="icon-list"></i> Categories <strong>{{mode}}</strong></h2>
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li><a href="/#categories">Categories</a></li>
            <li class="active">{{mode}}</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-content">
                <div class="row">
                    <form class="form-horizontal categories-frm" ng-submit="submitCategories(categories_data)">
                        <div class="col-md-12">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">กลุ่ม (Group) <span class="text-danger">*</span></label>
                                <div class="col-sm-9">
                                    <select id="groups_id" class="form-control form-white select2" data-style="white" data-search="true" data-style="white" ng-model="categories_data.groups_id" ng-options="group.id as group.title for group in groups" >
                                        <option value="" ng-hide="true">-- กรุณาเลือก --</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">ชื่อหมวดหมู่ <span class="text-danger">*</span></label>
                                <div class="col-sm-9">
                                    <input id="title" class="form-control form-white" type="text" ng-model="categories_data.title">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">รายละเอียด</label>
                                <div class="col-sm-9">
                                    <textarea id="description" ck-editor ng-model="categories_data.description"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">สีของหมวดหมู่</label>
                                <div class="col-sm-9">
                                    <select id="groups_id" class="form-control form-white select2" data-style="white" data-search="true" data-style="white" ng-model="categories_data.css_class" ng-options="defaultColor.css_class as defaultColor.title for defaultColor in defaultColors" >
                                    </select>
                                    <!-- <select id="css_class" class="form-control input-sm form-white" data-search="true" data-style="white" ng-model="categories_data.css_class" ng-options="defaultColor.css_class as defaultColor.title for defaultColor in defaultColors" >
                                        < <option value="t0">- เลือกสี -</option> ->
                                    </select> -->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="input-group m-t-5">
                                                <input id="hex_color" type="text" class="form-control form-white" placeholder="#ffa400" ng-model="categories_data.hex_color" ng-readonly="true">
                                                <span class="input-group-addon" ng-style="{'background-color': categories_data.hex_color}"><div class="p-r-20"></div></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="form-group">
                                <label class="col-sm-2 control-label">CSS Class</label>
                                <div class="col-sm-9">
                                    <input id="css_class" class="form-control form-white" type="text" ng-model="categories_data.css_class">
                                </div>
                            </div> -->

                            <!-- <div class="form-group">
                                <label class="col-sm-2 control-label">Color</label>
                                <div class="col-sm-9">
                                    <input id="hex_color" class="form-control form-white" type="text" ng-model="categories_data.hex_color">
                                </div>
                            </div> -->

                            <div class="form-group">
                                <label class="col-sm-2 control-label">ไอคอน  <!-- <span class="text-danger">*</span> --><br><span class="label label-light">size 56px * 56px</span></label>
                                <div class="col-sm-9">
                                    <div ng-controller='categoriesIconUploadCtrl' nv-file-drop="" uploader="img_uploader" filters="queueLimit, customFilter">
                                        <a ng-if="categories_data.icon" ng-href="{{base_categories_icon}}{{categories_data.icon}}" target="_blank"><img ng-src="{{base_categories_icon}}{{categories_data.icon}}" class="img-responsive"></a>
                                        <br>
                                        <input id="icon" type="file" class="form-control" nv-file-select="" uploader="img_uploader" />
                                        <table class="table">
                                            <tbody>
                                            <tr ng-repeat="item in img_uploader.queue">
                                                <td width="20%"><strong>{{ item.file.name }}</strong></td>
                                                <td width="10%" ng-show="img_uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                <td width="30%" ng-show="img_uploader.isHTML5">
                                                    <div class="progress" style="margin-bottom: 0;">
                                                        <div class="progress-bar progress-striped bg-color-greenLight" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                                </td>
                                                <td nowrap>
                                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">สถานะ</label>
                                <div class="col-sm-9">
                                    <div class="onoffswitch2">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="statusOnOffSwitch{{categories_data.id}}" ng-click="toggleStatus(categories_data)" ng-checked="categories_data.status==1">
                                        <label class="onoffswitch-label" for="statusOnOffSwitch{{categories_data.id}}">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-embossed btn-success">Save</button>
                                    <button type="button" class="btn btn-embossed btn-primary" ng-click="submitCategories(categories_data, 'add_another')" ng-if="mode === 'Create'">Save and add another</button>
                                    <button type="button" class="btn btn-embossed btn-primary" ng-click="submitCategories(categories_data, 'continue_editing')">Save and continue editing</button>
                                    <a href="#categories" class="btn btn-embossed btn-default">Cancel</a>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>