<div class="header">
    <h2><i class="icon-note"></i> Slides <strong>List</strong></h2>
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li class="active">Slides</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xlg-12 col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-header">
                        <h3><i class="fa fa-table"></i> <strong>Slides List</strong> tables</h3>
                    </div>
                    <div class="panel-content">
                        <div class="m-b-10">
                            <div class="btn-group">
                                <a href="#slides/create" id="table-edit_new" class="btn btn-embossed btn-primary"><i class="fa fa-plus"></i> Create New Slides</a>
                            </div>
                        </div>
                        <div class="col-lg-12 p-0">
                            <div class="col-lg-4 p-0">
                                <div class="form-group">
                                    <select class="form-control form-white select2" data-style="white" data-search="true" ng-model="selected_courses" ng-options="course.id as course.title for course in courses track by course.id" ng-change="changeCoursesFilter()">
                                        <option value="">-- เลือกคอร์ส --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <select class="form-control form-white select2" data-style="white" data-search="true" ng-model="selected_topics" ng-options="topic.id as topic.title for topic in topics track by topic.id" ng-change="changeTopicsFilter()">
                                        <option value="">-- เลือกหัวข้อ --</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="filter-left">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>
                                        <a ng-click="sort_by('picture')"><i class="fa fa-sort"></i></a>Slide
                                    </th>
                                    <th>คอร์ส</th>
                                    <th class="title">
                                        <a ng-click="sort_by('time')"><i class="fa fa-sort"></i></a>เวลา
                                    </th>
                                    <th class="order">
                                        <a ng-click="sort_by('order')"><i class="fa fa-sort"></i></a>จัดเรียง
                                    </th>
                                    <th class="status">
                                        <a ng-click="sort_by('status')"><i class="fa fa-sort"></i></a>สถานะ
                                    </th>
                                    <th>แก้ไข</th>
                                    <th>ลบ</th>
                                </tr>
                                </thead>
                                <tbody ui-sortable="sortableOptions" ng-model="slides">
                                <tr ng-repeat="slides_data in slides" data-id="{{slides_data.id}}">
                                    <td>{{slides_data.no}}</td>
                                    <td><img ng-src="{{base_slides_picture}}{{slides_data.picture}}" class="img-responsive" style="width: 100px;"></td>
                                    <td>
                                        <label class="label label-success">Courses : {{slides_data.courses.title | limitTo: 60 }}</label>
                                        <label class="label label-primary">Topics : {{slides_data.topics.title | limitTo: 60}}</label>
                                    </td>
                                    <td>
                                        <a ng-href="#slides/{{slides_data.id}}/edit">{{slides_data.time}}</a><br>
                                        <label class="label label-default" ng-if="slides_data.modify_by!=''" ><i class="icon-user"></i><strong>{{slides_data.modify_by}}</strong> ({{slides_data.modify_datetime}})</label>
                                    </td>
                                    <td>
                                        <input style="width: 70px; text-align: center;" class="form-control form-white" type="text" ng-model="slides_data.order" ng-blur="sortOrder(slides_data)" ng-focus="disableSortable()">
                                    </td>
                                    <td>
                                        <div class="onoffswitch2">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="statusOnOffSwitch{{slides_data.id}}" ng-click="toggleStatus(slides_data)" ng-checked="slides_data.status==1">
                                            <label class="onoffswitch-label" for="statusOnOffSwitch{{slides_data.id}}">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td><a class="btn btn-sm btn-primary icon icon-note" ng-href="#slides/{{slides_data.id}}/edit"></a></td>
                                    <td><a class="delete btn btn-sm btn-danger icon icon-trash" ng-click="deleteSlides(slides_data)"></a></td>
                                </tr>
                                </tbody>
                                <tfoot class="tbl-footer">
                                <td colspan="9">
                                    <div class="pull-left" style="padding-top:1.5em;">Total: <b>{{total}}</b> record(s)</div>
                                    <div class="pull-right">
                                        <pagination total-items="total" ng-model="current_page" items-per-page="per_page" num-pages="last_page" class="pagination pagination-alt" boundary-links="true" max-size="max_size" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                                    </div>
                                </td>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
