<div class="row">
    <div class="col-md-12">
        <h1 class="w-500 f-24"><i class="glyphicon glyphicon-th"></i> MENU</h1>
    </div>
    <div class="col-md-3 col-sm-6 portlets" ng-repeat="menu in admin.admins_groups.admins_groups_menu">
        <a href="#/{{menu.link}}" class="btn btn-primary btn-lg" ng-class="{ active : isActive('/'+menu.link) }" role="button" style="width: 100%; height: 100px;">
            <span style="display: inline-block; margin: 28px;">
                <small class="text-danger menu-not-available-overlay" ng-if="menu.in_process == 1">(Not Available)</small>
                <i class="{{menu.icon}}"></i> &nbsp; {{menu.title}}
            </span>
        </a>
    </div>
</div>