<div class="header">
    <h2><i class="icon-camcorder"></i> คอร์ส <strong>List</strong></h2>
    <div class="breadcrumb-wrapper">
        <ol class="breadcrumb">
            <li class="active">คอร์ส</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xlg-12 col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-header">
                        <h3><i class="fa fa-table"></i> <strong>คอร์ส List</strong> tables</h3>
                    </div>
                    <div class="panel-content">
                        <div class="col-lg-6 p-r-0 pull-left">
                        <div class="m-b-10">
                            <div class="btn-group">
                                <a href="#courses/create" id="table-edit_new" class="btn btn-embossed btn-primary"><i class="fa fa-plus"></i> สร้าง คอร์ส</a>
                            </div>
                        </div>
                        </div>

                        <div class="col-lg-6 p-r-0 pull-right">
                            <div class="form-group m-b-10">
                                <div class="col-sm-12 p-0 append-icon">
                                    <input type="text" id="finder" class="form-control form-white" placeholder="ค้นหา คอร์ส" autofocus="" ng-model="search" ng-change="changeFilter()">
                                    <i class="icon-magnifier"></i>
                                </div>
                            </div>
                        </div>

                        <div class="filter-left">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th class="id"><a ng-click="sort_by('id')"><i class="fa fa-sort"></i></a>#</th>
                                    <th class="title"><a ng-click="sort_by('title')"><i class="fa fa-sort"></i></a>ชื่อคอร์ส</th>
                                    <th>Groups</th>
                                    <th>หัวข้อ</th>
                                    <th>วีดีโอ รีวิว</th>
                                    <th>วีดีโอ คอร์ส</th>
                                    <th>Slides</th>
                                    <th class="order"><a ng-click="sort_by('order')"><i class="fa fa-sort"></i></a>จัดเรียง</th>
                                    <th class="status">
                                        <a ng-click="sort_by('status')"><i class="fa fa-sort"></i></a>Public
                                    </th>
                                    <th>แก้ไข</th>
                                    <th>ลบ</th>
                                </tr>
                                </thead>
                                <tbody ui-sortable="sortableOptions" ng-model="courses">
                                <tr ng-repeat="courses_data in courses" data-id="{{courses_data.id}}">
                                    <td>{{courses_data.id}}</td>
                                    <td>
                                        <a ng-href="#courses/{{courses_data.id}}/edit">{{courses_data.code}} {{courses_data.title}} <label class="label label-success" ng-if="courses_data.free == 1">Free</label></a><br>
                                        <label class="label label-default" ng-if="courses_data.modify_by!=''" ><i class="icon-user"></i><strong>{{courses_data.modify_by}}</strong> ({{courses_data.modify_datetime}})</label>
                                    </td>
                                    <td>
                                        <div ng-repeat="group_data in courses_data.groups">
                                            <label class="label label-warning" >{{group_data.title}}</label>
                                        </div>
                                    </td>
                                    <td><a class="btn btn-sm btn-info icon icon-note" ng-href="#courses/{{courses_data.id}}/topics"></a></td>
                                    <td>
                                        <a class="btn btn-sm btn-dark icon icon-control-play" ng-if="courses_data.review_streaming_server_id || courses_data.review_streaming_url"  ng-click="Review(courses_data)"></a>
                                        <a class="btn btn-sm btn-danger" ng-if="!courses_data.review_streaming_server_id && !courses_data.review_streaming_url">No</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-dark icon icon-control-play" ng-if="courses_data.streaming_server_id || courses_data.streaming_url" ng-click="ReviewStreaming(courses_data)"></a>
                                        <a class="btn btn-sm btn-danger" ng-if="!courses_data.streaming_server_id && !courses_data.streaming_url">No</a>
                                    </td>
                                    <td><a class="btn btn-sm btn-success icon icon-layers" ng-href="#slides/{{courses_data.id}}/courses" href="#slides/{{courses_data.id}}/courses"></a></td>
                                    <td>
                                        <input style="width: 70px; text-align: center;" class="form-control form-white" type="text" ng-model="courses_data.order" ng-blur="sortOrder(courses_data)" ng-focus="disableSortable()">
                                    </td>
                                    <td>
                                        <div class="onoffswitch2">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="statusOnOffSwitch{{courses_data.id}}" ng-click="updateStatus(courses_data)" ng-checked="courses_data.status==1">
                                            <label class="onoffswitch-label" for="statusOnOffSwitch{{courses_data.id}}">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td><a class="btn btn-sm btn-primary icon icon-note" ng-href="#courses/{{courses_data.id}}/edit"></a></td>
                                    <td><a class="delete btn btn-sm btn-danger icon icon-trash" ng-click="deleteCourses(courses_data)"></a></td>
                                </tr>
                                </tbody>
                                <tfoot class="tbl-footer">
                                <td colspan="12">
                                    <div class="pull-left" style="padding-top:1.5em;">Total: <b>{{total}}</b> record(s)</div>
                                    <div class="pull-right">
                                        <pagination total-items="total" ng-model="current_page" items-per-page="per_page" num-pages="last_page" class="pagination pagination-alt" boundary-links="true" max-size="max_size" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                                    </div>
                                </td>
                                </tfoot>
                            </table>
                        </div>
                        <div class="modal fade" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content bg-dark">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                                        <h4 class="modal-title"><strong><i class="icon icon-control-play"></i> ตัวอย่างวีดีโอ</strong></h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <div id="player"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
